/* Start variables */
:root {
    --primary-color: rgb(16 202 183);
    --secondary-color: #2c4755;
    --background-color: #f9f9f9;
    --section-padding: 80px;
    --transition-3: .3s;
}
/* End variables */
/* Start Global Rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* Start Components */
.special-heading {
    color: #ebeced;
    font-weight: 800;
    font-size: 100px;
    letter-spacing: -3px;
    margin: 0;
    text-align: center;
}

.special-heading + p {
    margin-top: -40px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 100px;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 70px;
    }

    .special-heading + p {
        margin-top: -30px;
        font-size: 16px;
    }
}
/* End Components */

/* Start Classes */
.grid-30 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}
/* End Classes */

/* Start Header */
.header {
    padding: 20px;
}

.header .container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #000;
    height: 2px;
}

.header .links .icon span:not(:nth-child(2)) {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 70%;
    margin: 6px 0;
    transition: var(--transition-3);
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links ul {
    position: absolute;
    padding: 0;
    margin: 0;
    top: calc(100% + 15px);
    right: 0;
    min-width: 200px;
    background-color: var(--background-color);
    display: none;
    z-index: 99;
}

.header .links ul::before {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent var(--background-color) transparent;
    position: absolute;
    top: -19px;
    right: 5px;
}

.header .links:hover ul {
    display: block;
}

.header .links ul li {
    list-style: none;
    padding: 15px 30px;
}

.header .links ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    transition: var(--transition-3);
}

.header .links ul li a:hover {
    padding-left: 20px;
    letter-spacing: 1px;
}

.header .links ul li:not(:last-child) {
    border-bottom: 1px solid #CCC;
}
/* End Header */

/* Start Landing */
.landing {
    background-image: url(../Images/landing.jpg) ;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 375px;
    max-width: 100%;
}

.landing .intro-text h1 {
    color: var(--primary-color);
    font-weight: 800;
}

.landing .intro-text p {
    line-height: 1.8;
    padding: 0 10px;
}
/* End Landing */

/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--background-color);
}


.features .feat {
    text-align: center;
    padding: 30px 20px;
}

.features .feat:nth-child(2) {
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.1);

}

.features .feat i {
    color: var(--primary-color);
}

.features .feat h3 {
    margin: 25px 0;
    color: var(--secondary-color);
    font-weight: 800;
}

.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* End Features */

/* Start Services */
.services {
    padding-bottom: var(--section-padding);
}

.services .srv-content .card {
    display: flex;
    padding: 30px 20px;
}

.services .srv-content .card i {
    color: var(--primary-color);
    flex-basis: 60px;
}

.services .srv-content .card .text {
    margin-left: 20px;
}

.services .srv-content .card .text  h3{
    margin-bottom: 30px;
    font-weight: 800;
}

.services .srv-content .card .text  p{
    line-height: 1.6;
    color: var(--secondary-color);
    font-weight: 300;
}

.services .srv-content .col .image {
    position: relative;
    width: 100%;
    height: 350px;
    transform: translateY(20px);
}

.services .srv-content .col .image::before {
    content: "";
    position: absolute;
    background-color: #eee;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.services .srv-content .col .image::after {
    content: "";
    position: absolute;
    height: calc(100% + 100px);
    width: 100px;
    background-color: var(--secondary-color);
    top: -50px;
    right: -50px;
    z-index: -1;
}

@media (max-width: 767px) {
    .services .srv-content .card {
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.services .srv-content .card .text  h3{
    margin-top: 20px;
}
}

@media (max-width: 1199.98px) {
    .services .srv-content .col .image {
    display: none;
}
}
/* End Services */

/* Start Portfolio */
.portfolio {
    background-color: var(--background-color);
    padding-bottom: var(--section-padding);
}

.portfolio .pro-content .card {
    background-color: var(--background-color);
    overflow: hidden;
}

.portfolio .pro-content .card .img {
    min-width: 100%;
    max-height: 300px;
}

.portfolio .pro-content .card .text {
    padding: 20px;
    line-height: 1.6;
}

.portfolio .pro-content .card .text h3 {
    font-weight: 800;
}

.portfolio .pro-content .card .text p {
    color: var(--secondary-color);
    line-height: 1.6;
    font-weight: 300;
}
/* End Portfolio */

/* Start About */
.about .abt-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: var(--section-padding);
}

@media (max-width: 991px) {
    .about .abt-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.about .abt-content .image {
    position: relative;
    width: 275px;
    height: 375px;
}

.about .abt-content .image::before {
    content: "";
    position: absolute;
    background-color: #eee;
    top: -50px;
    left: -20px;
    width: 30%;
    height: calc(100% + 100px);
    z-index: -1;
}

.about .abt-content .image::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 200px
    ;
    border-left: 80px solid var(--primary-color);
    border-bottom: 80px solid var(--primary-color);
    top: -50px;
    right: -125px;
    z-index: -1;
}

@media (max-width: 991px) {
    .about .abt-content .image::after {
        display: none;
    }
    .about .abt-content .image::before {
        display: none;
    }
}

.about .abt-content .image img {
    width: 100%;
    height: 100%;
}

.about .abt-content .text {
    flex-basis: calc(100% - 500px);
}

@media (max-width: 991px) {
    .about .abt-content .text {
        margin-top: 40px;
    }
}

.about .abt-content .text p:first-child {
    color: var(--secondary-color);
    font-size: 22px;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 30px;
}

.about .abt-content .text hr {
    display: inline-block;
    width: 50%;
    border-color: var(--primary-color);
    margin-bottom: 20px;
}

.about .abt-content .text p:last-child {
    line-height: 1.8;
    color: #777;
    font-weight: 500;
    letter-spacing: -.5px
}
/* End About */

/* Start Contact */
.contact {
    background-color: var(--background-color);
    padding-bottom: var(--section-padding);
}

.contact .text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact .text h2 {
    color: var(--secondary-color);
    font-weight: 800;
    font-size: 40px;
    letter-spacing: -2px;
}

.contact .text .mail {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 800;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
}

.contact .text .mail::before {
    content: "";
    position: absolute;
    background-color: white;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    width: 110%;
    height: 20%;
    z-index: -1;
}

@media (max-width: 767px) {
    .contact .text h2,
    .contact .text .mail {
        font-size: 25px;
    }
}

.contact .text .icons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.contact .text .icons span {
    color: var(--secondary-color);
    font-size: 15px;
    letter-spacing: -1.5px;
}

.contact .text .icons i {
    color: var(--secondary-color);
    font-size: 20px;
    padding-left: 10px;
    transition: var(--transition-3);
    display: inline-block;
}

.contact .text .icons i:hover {
    transform: scale(1.2);
    color: var(--primary-color);
}
/* End Contact */

/* Start Footer */
.footer {
    background-color: var(--secondary-color);
    color: var(--background-color);
    text-align: center;
    padding: 50px;
}

.footer .text {
    font-weight: 800;
}

.footer .text span {
    color: var(--primary-color);
}
/* End Footer */